
<p class="project">
  Project #{{id}}:  {{title}}

  <button class="editdeletebtns btn-xs update-project" data-toggle="modal" data-target="#updateProjectModal" data-project-id= {{id}}>Edit</button>
  <button class="editdeletebtns btn-xs delete-project" data-toggle="modal" data-target="#deleteProjectModal" data-project-id= {{id}}>Delete</button>

</p>
