$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$fontstyle: 'Lancelot', cursive;


html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 25px;
  text-align: center;
}

.hiscreen {
  text-align: center;
}

#container {
  position: fixed;
  width: 340px;
  height: 240px;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -170px;
  // margin-left: auto;
  // margin-right: auto;
  background-color: #d1b280;
  // text-align: center;
  // padding: 20px;
}

#sign-in {
  margin: 0 auto;
  margin-top: 20px;
  font-size: 16px;
}


.signinplaceholder {
  display: inline-block;
  margin-left: 18px;
  // padding-top: 10px;
  font-size: 14px;
}

#loginbutton,
#signupbutton {
  margin: 0 auto;
}

.byescreen {
  display: none;
  text-align: center;
}

body {
  background-color: #efefef;
  color: #594d46;
  font-family: $fontstyle
}

#message,
.workingcontent {
  width: 70%;
  margin: 2% auto;
  text-align: justify;
}

#index {
  text-align: center;
}

.notebook {
  font-size: 18px;
}

.project {
  font-size: 18px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ba5a69;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ba5a69;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ba5a69;
}
:-moz-placeholder { /* Firefox 18- */
  color: p#ba5a69ink;
}

.warning {
  color: red;
}

.newbtnstyle {
  background-color: #063852;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #063852;
  display: inline-block;
  cursor: pointer;
  color: #f1f1f2;
  // font-family: Arial;
  font-size: 14px;
  padding: 2px 8px;
  text-decoration: none;
  }

.newbtnstyle:hover {
  //  border-top-color: #f1f1f2;
   background: #f1f1f2;
   color: #f0810f;
   }
.newbtnstyle:active {
  //  border-top-color: #1994ad;
   background: #f0810f;
   }

.editdeletebtns {
  background-color: #063852;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #063852;
  display: inline-block;
  cursor: pointer;
  color: #f1f1f2;
  // font-family: Arial;
  font-size: 14px;
  padding: 2px 8px;
  text-decoration: none;
}

.editdeletebtns:hover {
  background-color: #f0810f;
}

.editdeletebtns:active {
  position: relative;
  top: 1px;
}
