$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$fontstyle: 'Lancelot', cursive;
h1 {
  text-align: center;
}

.hiscreen {
  text-align: center;
}

#loginbutton,
#signupbutton {
  margin: 0 auto;
}

.byescreen {
  display: none;
  text-align: center;
}

body {
  background-color: #f1f1f2;
  color: #bcbabe;
  font-family: $fontstyle
}

#index {
  text-align: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ba5a69;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ba5a69;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ba5a69;
}
:-moz-placeholder { /* Firefox 18- */
  color: p#ba5a69ink;
}

.newbtnstyle {
  //  border-top: 1px solid #1994ad;
   background: #1994ad;
   background: -webkit-gradient(linear, left top, left bottom, from(#1994ad), to(#1994ad));
   background: -webkit-linear-gradient(top, #1994ad, #1994ad);
   background: -moz-linear-gradient(top, #1994ad, #1994ad);
   background: -ms-linear-gradient(top, #1994ad, #1994ad);
   background: -o-linear-gradient(top, #1994ad, #1994ad);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
  //  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  //  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  //  box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
  //  font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.newbtnstyle:hover {
  //  border-top-color: #f1f1f2;
   background: #f1f1f2;
   color: #a1d6e2;
   }
.newbtnstyle:active {
  //  border-top-color: #1994ad;
   background: #1994ad;
   }
